@import url('//fonts.googleapis.com/css?family=Comfortaa:300,400,700')
@import url('//fonts.googleapis.com/icon?family=Material+Icons')
@import url('//bootswatch.com/4-alpha/darkly/bootstrap.css')
html, body
	font-family Comfortaa
body
	padding 50px 0
.hidden
	display none
.word-breaker
	word-wrap break-word
.taj
	text-align justify
.btn
	cursor pointer
.fade.in
	opacity 1
	&.modal-backdrop
		opacity .5
.modal-dialog
	top 200px
	input::placeholder,
	textarea::placeholder
		opacity .6
	textarea
		resize none
.is-completed
	opacity .2
.btn-group
	.btn
		border-top 1px solid rgba(0,0,0,.2)
		border-bottom 1px solid rgba(0,0,0,.2)
		&:last-child
				border-right 1px solid rgba(0,0,0,.2)
		&:first-child
				border-left 1px solid rgba(0,0,0,.2)
.list-group-item-primary
.btn.btn-primary
	background #373a3c
.items-container
	max-height 740px
	overflow auto
	// Custom scrollbar for Webkit-based browsers
	&::-webkit-scrollbar-track
		background-color rgba(200,200,200,.5)
	&::-webkit-scrollbar
		width 10px
		background-color rgba(155,155,155,.5)
	&::-webkit-scrollbar-thumb
		background-color #333
	.todo-item
		color white !important
		border-top-right-radius 0 !important
		border-top-left-radius 0 !important
		.extra-delete
			position absolute
			right 0
			top 0
			opacity 0
			transition opacity .2s ease
			cursor pointer
		&:hover .extra-delete
			opacity 1
	
.item-create 
	transition background-color .2s ease
	cursor pointer
	.material-icons
		margin 0 auto