@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')
@import url('https://bootswatch.com/4-alpha/darkly/bootstrap.min.css')
html, body
	font-family Comfortaa
body
	padding-top 50px
.btn
	cursor pointer
.todo-item
	margin 10px 0